# Entorno
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtualenv
venv/
.venv/
env/

# Logs y resultados
logs/
*.log
backtest_results.csv

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
